<form>
  <h1 mat-dialog-title>{{data.ssid}}</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <!-- Disable all text entry "cleverness" - https://stackoverflow.com/questions/254712/disable-spell-checking-on-html-textfields -->
      <input matInput
        name="password"
        autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" 
        [type]="hide ? 'password' : 'text'"
        [(ngModel)]="password"
        cdkFocusInitial>
      <!-- Controlling visibility - https://link.medium.com/z4h8YHrpZ4 -->
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <!-- Without the wrapping form element, enter won't trigger submit. -->
    <button mat-button type="button" (click)="onCancel()">CANCEL</button>
    <button mat-button type="submit" [disabled]="password.length < 8" [mat-dialog-close]="password">CONNECT</button>
  </div>
</form>
