/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* https://stackoverflow.com/a/47152748/245602 */
.app-toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 100; /* Ensure that your app's content doesn't overlap the toolbar */
    /* Note: Angular dialogs have a z-index of 1000 so this should have a _lower_ value. */
}

/* https://stackoverflow.com/a/42981450/245602 */
.fill-space {
    /* Fill the remaining space on a line. */
    flex: 1 1 auto;
}

.left-pad-16 {
    padding-left: 16px;
}

/* mat-form-field defaults to 180px - https://github.com/angular/components/blob/52fea06/src/material/form-field/form-field.scss#L13
   https://stackoverflow.com/a/54283959/245602
 */
.width-100pct {
    width: 100%;
}

/* p normally has a margin-bottom of 12px, which is too much if followed by e.g. certain form fields. */
.bottom-margin-0 {
    margin-bottom: 0 !important;
}